apiVersion: k8s.ovn.org/v1
kind: EgressFirewall
metadata:
  name: default
  namespace: {{ _ocp4_workload_tenant_namespace_name }}
spec:
  egress:
{% if _tenant_cluster_ingress_ip is defined %}
    - type: Allow
      to:
        cidrSelector: {{ _tenant_cluster_ingress_ip }}/32
{% endif %}
{% for domain in ocp4_workload_tenant_namespace_egress_allow_domains %}
    - type: Allow
      to:
        dnsName: {{ domain }}
{% endfor %}
{% for cidr in ocp4_workload_tenant_namespace_egress_allow_cidrs %}
    - type: Allow
      to:
        cidrSelector: {{ cidr }}
{% endfor %}
    - type: Deny
      to:
        cidrSelector: 0.0.0.0/0
    - type: Deny
      to:
        cidrSelector: ::/0
